.store-item {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 15px;
    cursor: pointer;

    .store-item__title {
        text-align: center;
        font-family: monospace;
        font-size: 36px;
        color: white;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .store-item__cover {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .store-item__wrapper {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .store-item__genre {
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(128, 128, 128, 0.15);
        color: rgba(214, 0, 0, 0.9);
        font-family: var(--re-font);
        font-size: 30px;
        letter-spacing: 1px;
    }
    .store-item__price {
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: white;
        font-size: 40px;
        font-family: monospace;

        .price__dollar {
            font-family: var(--re-font);
            color: var(--re-color);
            font-size: 40px;
            margin-left: 5px;
        }
    }

    .store-item__btn--add {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.15);
        color: white;
        font-family: var(--re-font);
        font-size: 30px;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            color: var(--re-color);
            background-color: rgba(128, 128, 128, 0.25);
        }

        &:active {
            color: var(--re-color);
            background-color: rgba(128, 128, 128, 0.05);
        }
    }

    .store-item__btn--remove {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 10px;
        background-color: rgba(128, 128, 128);
        color: white;
        font-family: var(--re-font);
        font-size: 30px;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(128, 128, 128, 0.25);
        }

        &:active {
            color: rgba(255, 255, 255, 0.25);
            background-color: rgba(128, 128, 128, 0.05);
        }
    }
}
