@import '/src/styles/variables';

.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.rate-text {
		margin-bottom: 10px;
		font-family: monospace;
		font-size: 24px;
		font-weight: 700;
		color: $text-color;
		letter-spacing: 0px;

		@media (max-width: 920px) {
			font-size: 18px;
			margin-bottom: 2px;
		}
	}

	.rate-stars {
		font-size: 18px;

		@media (max-width: 920px) {
			font-size: 14px;
		}
	}
}
